body{
    background-color: #F8E8A6;
    text-align: center;
}
h1{
    font-size: 40px;
}
p{
    font-size: 24px;
    
}
#email{
        font-size: 24px;
        margin: 0;
    }
a{
    font-size: 20px;
    margin: 0 20px; 
    cursor: pointer;
    color: rgb(14, 81, 14);
}
img{
    margin-bottom: 30px;
}